.coin__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 2rem;
    font-size: clamp(.9rem, 2.5vw, 1rem)
}

.coin__row:hover {
    transform: scale(1.01);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.img__symbol {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.img__symbol img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.coin__row p {
    flex: 1;
}

.coin__rank {
    margin-right: -5.3rem;
}

.coin__volume {
    margin-left: -5.5rem;
}

.red-text {
    color: red !important;
}

.green-text {
    color: green !important;
}


@media screen and (max-width: 700px) {

    .coin__rank {
        margin-right: -3rem;
    }

    .img__symbol,
    .coin__price {
        margin-right: .8rem;
    }
}

@media screen and (max-width: 500px) {
    .coin__rank {
        margin-right: -3.5rem;
    }

    .img__symbol img {
        width: 20px;
        height: 20px;
    }
}