@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
  --darkmode-navbar-background-color: #161B22;
  --lightmode-navbar-background-color: #e6dee6;
  --darkmode-background: #0D1117;
  --lightmode-background: white;
  --lightmode-text-color: black;
  --darkmode-text-color: white;
  --span-color: #2141a1;
  --lightmode-input: #d1c5c5;
  --darkmode-input: #0D1117;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", "sans-serif";
}

body {
  font-family: "Work Sans", "sans-serif";
  font-size: 10px;
  height: 100vh;
  position: relative;
}

#lightTheme {
  background-color: var(--lightmode-background);
  height: 100%;
  min-height: 100vh;
}

#darkTheme {
  background-color: var(--darkmode-background);
  height: 100%;
  min-height: 100vh;
}

#lightTheme nav {
  background-color: var(--lightmode-navbar-background-color);
  box-shadow: 0 0 10px var(--lightmode-navbar-background-color);
}

#darkTheme nav {
  background-color: var(--darkmode-navbar-background-color);
  box-shadow: 0 0 10px var(--darkmode-navbar-background-color);
}

#lightTheme nav h1,
#lightTheme nav h2 {
  color: var(--lightmode-text-color);
}

#darkTheme nav h1,
#darkTheme nav h2 {
  color: var(--darkmode-text-color);
}

#lightTheme nav h1 span {
  color: var(--span-color);
}

#darkTheme nav h1 span {
  color: var(--span-color);
}

#lightTheme select {
  background-color: var(--lightmode-input);
  color: var(--lightmode-text-color);
}

#darkTheme select {
  background-color: var(--darkmode-input) !important;
  color: var(--darkmode-text-color);
}

#lightTheme input {
  background-color: var(--lightmode-navbar-background-color);
  color: var(--lightmode-text-color);
}

#darkTheme input {
  background-color: var(--darkmode-navbar-background-color) !important;
  color: var(--darkmode-text-color);
}

#lightTheme ::placeholder {
  color: rgb(148, 129, 129);
}

#darkTheme ::placeholder {
  color: rgb(150, 132, 100);
}


#lightTheme .toggleBtn {
  color: var(--lightmode-text-color);
}

#darkTheme .toggleBtn {
  color: var(--darkmode-text-color);
}

#lightTheme p,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td {
  color: var(--lightmode-text-color);
}

#darkTheme p,
h1,
h2,
h3,
h4,
h5,
h6,
th,
td {
  color: var(--darkmode-text-color);
}

#lightTheme .heading {
  background-color: var(--lightmode-navbar-background-color);

}

#darkTheme .heading {
  background-color: var(--darkmode-navbar-background-color);
}

#lightTheme .coin__row {
  background-color: var(--lightmode-navbar-background-color);

}

#darkTheme .coin__row {
  background-color: var(--darkmode-navbar-background-color);
}

#lightTheme .info,
#lightTheme .content__two,
#lightTheme .content__three,
#lightTheme .content__four,
#lightTheme .watchlist_content_container {
  background-color: var(--lightmode-navbar-background-color);
  box-shadow: 0 0 8px var(--lightmode-navbar-background-color);
}

#darkTheme .info,
#darkTheme .content__two,
#darkTheme .content__three,
#darkTheme .content__four,
#darkTheme .watchlist_content_container {
  background-color: var(--darkmode-navbar-background-color);
  box-shadow: 0 0 8px var(--darkmode-navbar-background-color);
}

#lightTheme .coin_price h2 {
  color: var(--lightmode-text-color);
}

#darkTheme .coin_price h2 {
  color: var(--darkmode-text-color);
}

#lightTheme .coin_name,
#lightTheme .about__coin h3 {
  color: var(--lightmode-text-color);
}

#lightTheme .rank__btn {
  color: var(--darkmode-text-color);
}

#darkTheme .rank__btn,
#darkTheme .coin_name,
#darkTheme .about__coin h3 {
  color: var(--darkmode-text-color);
}

#lightTheme .content__two th {
  color: var(--lightmode-text-color);
}

#lightTheme .content__two th {
  background-color: var(--lightmode-background);
}

#darkTheme .content__two th {
  background-color: var(--darkmode-background);
}

#darkTheme .rank__btn,
#darkTheme .coin_name {
  color: var(--darkmode-text-color);
}

#lightTheme .coin__price h2 {
  color: var(--lightmode-text-color);
}

#darkTheme .coin__price h2 {
  color: var(--darkmode-text-color);
}

#lightTheme .stats .row {
  border-bottom: 1px solid var(--lightmode-text-color);
}

#darkTheme .stats .row {
  border-bottom: 1px solid var(--darkmode-text-color);
}

#lightTheme .stats h5,
.about__coin h3 {
  color: var(--lightmode-text-color);
}

#darkTheme .stats h5,
.about__coin h3 {
  color: var(--darkmode-text-color);
}

#lightTheme #addBtn {
  color: #b78700;
}

#darkTheme #addBtn {
  color: #eda800;
}

#lightTheme .alert__msg {
  background-color: var(--lightmode-navbar-background-color);
  color: var(--lightmode-text-color);
  border: 1px solid #b78700;
  box-shadow: 0 0 8px #b78700;
}

#darkTheme .alert__msg {
  background-color: var(--darkmode-navbar-background-color);
  color: var(--darkmode-text-color);
  border: 1px solid #eda800;
  box-shadow: 0 0 8px #eda800;
}

#lightTheme .deleteBtn {
  background-color: var(--lightmode-navbar-background-color);
  color: var(--lightmode-text-color);
  border: 1px solid #b78700;
  box-shadow: 0 0 3px #b78700;
}

#darkTheme .deleteBtn {
  background-color: var(--darkmode-navbar-background-color);
  color: var(--darkmode-text-color);
  border: 1px solid #eda800;
  box-shadow: 0 0 3px #eda800;
}

#lightTheme .chartBtn {
  background-color: var(--lightmode-navbar-background-color);
  color: var(--lightmode-text-color);
  border: 1px solid #b99307;
  box-shadow: 0 0 3px #927405;
}

#darkTheme .chartBtn {
  background-color: var(--darkmode-navbar-background-color);
  color: var(--darkmode-text-color);
  border: 1px solid #c29b0c;
  box-shadow: 0 0 3px #c29b0c;
}

#lightTheme .chartBtn:hover {
  transition: all .2s ease-in-out;
  background-color: #b99307;
  color: white;
}

#darkTheme .chartBtn:hover {
  transition: all .2s ease-in-out;
  background-color: #c29b0c;
  color: white;
}

#lightTheme .chartBtn:active {
  background-color: #b99307;
  color: white;
}

#darkTheme .chartBtn:active {
  background-color: #c29b0c;
  color: white;
}

#lightTheme footer h2 {
  color: var(--lightmode-text-color);
}

#darkTheme footer h2 {
  color: var(--darkmode-text-color);
}